@import b3.vertical.fieldConstructor

@(loginForm: Form[Login], rememberme: Form[Boolean])(implicit messages: Messages, flash: Flash, request: RequestHeader)

@main(Messages("Login"), None) {

<div class="text-center">
    <h1>@Messages("LogIn")</h1>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @loginForm.globalError.map { error =>
            <div class="alert alert-warning" role="alert">
                @error.message
            </div>
        }
        @b3.formCSRF(routes.AuthController.login()) {
            @b3.email(loginForm("email"), '_label -> "Email", 'placeholder -> "example@mail.com")
            @b3.password(loginForm("password"), '_label -> "Password", 'placeholder -> "Password")
            @b3.checkbox(rememberme("rememberme"), '_label -> "RememberMe")
            @b3.submit('class -> "btn btn-primary btn-block") {
                @Messages("LogIn")
            }
        }
        <p>@Messages("AreYouNewUser") <a href="@routes.SignUpController.index()">@Messages("SignUp")</a></p>
    </div>
</div>
}