@(currentUser: User, user: User, userFollows: List[UserFollow], followers: SearchResult[User], microPostsCount: Long, followingsCount: Long)(implicit messages: Messages, flash: Flash, request: RequestHeader)

@main(Messages("User"), Some(currentUser)) {
    <div class="row">
        <aside class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@user.name</h3>
                </div>
                <div class="panel-body">
                    <img class="media-object img-rounded img-responsive" src="@common.gravatarUrl(user.email)?s=500&amp;r=g&amp;d=identicon" alt="">
                    @user_follow.follow_button(currentUser, user, userFollows)
                </div>
            </div>
        </aside>
        <div class="col-xs-8">
            @views.html.users.tab(user, microPostsCount, followingsCount, followers.totalCount)
            @views.html.users.users(currentUser, followers)
        </div>
    </div>
}