@(currentUser: User, users: SearchResult[User])(implicit messages: Messages, flash: Flash, request: RequestHeader)

<ul class="media-list">
    @for(otherUser <- users.items) {
        <li class="media">
            <div class="media-left">
                <img class="media-object img-rounded" src="@common.gravatarUrl(otherUser.email)?s=50&amp;r=g&amp;d=identicon" alt="">
            </div>
            <div class="media-body">
                <div>
                    @otherUser.name
                </div>
                <div>
                    <p><a href="@routes.UsersController.show(otherUser.id.get, 1)">@Messages("ViewProfile")</a></p>
                </div>
            </div>
        </li>
    }
    @pagination(
        users,
        routes.UsersController.index,
        window = 3,
        firstLabel = Html("First"),
        previousLabel = Html("Prev"),
        truncateLabel = Html("..snip.."),
        nextLabel = Html("Next"),
        lastLabel = Html("Last")
    )
</ul>

