@import b3.vertical.fieldConstructor
@(userOpt: Option[User])(implicit messages: Messages, request: RequestHeader)

<header>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @userOpt match {
                    case Some(user) => {
                        <a class="navbar-brand" href="#">@Messages("ApplicationName")</a>
                    }
                    case None => {
                        <a class="navbar-brand" href="@routes.HomeController.index(Pager.default)">@Messages("ApplicationName")</a>
                    }
                }
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @userOpt match {
                        case Some(user) => {
                            <li><a href="@routes.UsersController.index(Pager.default)">@Messages("Users")</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    @user.name <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.UsersController.show(userOpt.get.id.get, 1)">@Messages("User")</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        @b3.formCSRF(routes.AuthController.logout(), 'name -> "logout", 'style -> "display: none") {
                                            @b3.submit() { @Messages("LogOut") }
                                        }
                                        <a href="#" onclick="document.logout.submit();">@Messages("LogOut")</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        case None => {
                            <li><a href="@routes.SignUpController.index()">@Messages("SignUp")</a></li>
                            <li><a href="@routes.AuthController.index()">@Messages("LogIn")</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>